<h1>Anagram Expert</h1>
<h2>Try to trick me!</h2>
<form action='/anagrams'>
  <div class='form-group'>
    <label for='primary_word'>Enter a word that you want to test for anagrams</label>
    <input id='primary_word' name='primary_word' class='form-control' type='String'>
  </div>
  <div class = 'form-group'>
    <label for='test_words'>Enter test words, sepparated by comma space (', ').</label>
    <input id='test_words' name='test_words' class='form-control' type='String'>
  </div>
  <button type='submit' class='btn-success'>Submit</button>
</form>
